<a href="https://colab.research.google.com/github/lastingflame/1Day1Python/blob/master/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 6. Operators and Expressions

Most statements (logical lines) that you write will contain *expressions*. A simple example
of an expression is `2 + 3`. An expression can be broken down into operators and
operands.


*Operators* are functionality that do something and can be represented by symbols such
as `+` or by special keywords. Operators require some data to operate on and such
data is called *operands*. In this case, `2` and `3` are the operands.

## 6.1 Operators

We will briefly take a look at the operators and their usage.

Note that you can evaluate the expressions given in the examples using the interpreter
interactively. For example, to test the expression `2 + 3` , use the interactive Python
interpreter prompt:

In [0]:
2+3

5

In [0]:
3*5

15

Here is a quick overview of the available operators:

> `+` (plus)
>
> Adds two objects
>
> `3 + 5` gives `8` . `'a' + 'b'` gives `'ab'` .


> `-` (minus)
>
> Gives the subtraction of one number from the other; if the first operand is absent
it is assumed to be zero.
>
> `-5.2` gives a negative number and `50 - 24` gives `26` .
>
> `*` (multiply)
>
> Gives the multiplication of the two numbers or returns the string repeated that many
times.
>
> `2 * 3` gives `6` . `'la' * 3` gives `'lalala'` .
>
> `**` (power)
>
> Returns x to the power of y
>
> `3 ** 4` gives `81` (i.e. `3 * 3 * 3 * 3` )
>
> `/` (devide)
>
> Divide x by y
> 
> `13 / 3` gives `4` . `13.0 / 3` gives `4.333333333333333`
>
>
>
>
>
>
>
>
>
>
>
>
>
>
>
>
>
>
>
>
>